<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= aboutTitle %></title>

    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <h1>This is About Page!</h1>
    <a href="/">Home</a>
    <br>
    <a href="/project">Projects</a>
</body>
</html>