<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= homeTitle %></title>

    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1>This is Home Page!</h1>
    <a href="/about">About</a>
    <br>
    <a href="/project">Projects</a>
</body>
</html>