<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1 style="color: green; font-weight: bolder;">Task 1 Accomplished!</h1>
    <p style="color: green; font-weight: bolder;"><%= Ptag %></p>
</body>
</html>